// Kolory
$color-primary: rgb(246, 185, 0);
$color-secondary: rgb(139, 202, 190);
$text-color:#494545;
// Rodziny fontów
$font-primary: 'Arial';
$font-secondary: 'Arial';
// Wysokość linii paragrafów
$lineHeight: 24px;
// Cookies
$cookiesColor: #FFFFFF;
$cookiesBackgroundColor: #1D1D1B;
$cookiesBorderColor: $color-primary;
//inne
$filter-primary: rgba(0, 0, 0, 0.5);