#footer-nav{
    ul{
        @include md-up{
            flex-flow: row wrap;
            li{
                a{
                    color:white;
                }
            }
        }

    }
}
.footer{
    background:$color-secondary;
    color:white;
}